$strokeColor: #e3e4e1;

/* Chart styling */
.chart {
  background-color: white;
  padding: 0.5em 0 0.5em 1em;
  border: 1px solid $strokeColor;
  border-radius: 8px;
  display: inline-block;

  svg {
    overflow: visible;
    display: block;
    margin: auto;
  }
}

/* Marks styling */
.mark-line {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.mark-bar {
  stroke-width: 1.5;
  fill-opacity: 0.8;
}

.mark-area {
  fill-opacity: 0.5;
}

.axis-label {
  font-weight: 400;
  fill: #635f5d;
}

.axis-label.y,
.custom-axis-label.y {
  text-anchor: middle;
}

.axis-date {
  text-anchor: middle;
  font-size: 12px;
  font-weight: 500;
  fill: #635f5d;
}

/* Axes styling */

.tick-line {
  stroke: #c0c0bb3f;
}

.tick-text-x {
  text-anchor: middle;
  font-size: 10px;
  fill: #635f5d;
}

.tick-text-y {
  text-anchor: end;
  font-size: x-small;
  fill: #635f5d;
}

.tick-text-y.right {
  text-anchor: start;
}
