$secondaryText: #79807c;
$strokeColor: #e3e4e1;

.selects {
  display: flex;
  justify-content: space-between;
}

.sensor-chart {
  a {
    font-size: 12px;
  }
}

.select-time,
.select-granularity {
  position: relative;
  margin-right: 1.5em;
  > * {
    display: inline-block;
  }

  p {
    margin-right: 1em;
  }
}

h3.section-title {
  margin: 0;
}

@media only screen and (min-width: 768px) {
}
