$secondaryText: #79807c;

.select-time {
  > * {
    display: inline-block;
  }

  p {
    color: $secondaryText;
    margin-right: 1em;
  }
}

h3.section-title {
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) {
}
