$secondaryBackground: #f0f2eb;
$primaryText: #3b4541;
$buttonBackground: #d1e3b2;
$smallButtonBackground: $secondaryBackground;

.button {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: $buttonBackground;
}

.button > img,
.csv-link > img {
  height: 1em;
  margin-right: 0.75em;
}

.button.small {
  background-color: $smallButtonBackground;
}

.button.close {
  position: absolute;
  top: -0.75em;
  right: -0.75em;
  border-radius: 50%;
  padding: 8px 1px;
  background-color: $smallButtonBackground;

  > img {
    width: 2em;
    margin: 0;
    transform: rotate(45deg);
  }
}

.button.chart-options {
  background: none;
  padding: 0.5em 0;

  > img {
    width: 1.5em;
    height: 1.5em;
    transform: rotate(90deg);
  }
}

.png-download,
.csv-link {
  display: inline-block;
  margin: 0.5em 0.75em 0 0;
  font-size: 12px;
  text-decoration: none;
  color: $primaryText;
  background-color: $smallButtonBackground;
  padding: 6px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* .edit-chart {
  display: inline-block;
  align-self: flex-end;
  margin: 0.5em 0.75em 0 0;
  font-size: 12px;
  text-decoration: none;
  color: $primaryText;
  background-color: $smallButtonBackground;
  padding: 6px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
} */

.button.edit {
  position: absolute;
  top: -1em;
  right: 0;
  font-size: 11px;
  background-color: $smallButtonBackground;
  /* padding: 0.5em;
  background: none;

  img {
    margin: 0;
  } */
}

.buttons {
  display: flex;
}
