$strokeColor: #e3e4e1;

.react-select-container {
  width: 150px;

  .react-select__control {
    border-radius: 8px;
    border-color: $strokeColor;
    font-size: 12px;

    .react-select__value-container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .react-select__menu {
    .react_select__option {
      font-size: 10px;
    }

    .react-select__option.--is-selected {
    }
  }
}
