$secondaryText: #79807c;
$strokeColor: #e3e4e1;
$primaryBackground: #fafbf9;

// General modal
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);

  .modal-title {
    align-items: center;
    margin: 0 0 1em 0;

    h3 {
      margin: 0;
      margin-bottom: 0.5em;
    }

    p {
      color: $secondaryText;
    }
  }

  .modal {
    min-height: 200px;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid $strokeColor;
    background-color: #fff;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    border-radius: 8px;
    outline: none;

    .modal-content {
      padding: 20px;

      button {
        margin-top: 1em;
        margin-left: auto;
      }
    }
  }
}

// Sensor select
.sensor-select {
  margin-left: 0.5em;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 12px;

  .sensor-option {
    display: inline-flex;
    align-items: center;

    input[type="checkbox"] {
      display: none;
    }

    .checkbox-icon {
      width: 18px;
      height: 18px;
      margin-right: 6px;
      background-image: url("../../icons/checkbox_unchecked.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      flex-shrink: 0;
    }

    .label {
      font-size: 11px;
      font-weight: 500;
      cursor: pointer;
    }

    input[type="checkbox"]:checked ~ .checkbox-icon {
      background-image: url("../../icons/checkbox_checked.svg");
    }
  }
}

.sensors {
  h6 {
    margin: 0 0 0.5em 0;
  }
}

// Custom time frame modal
.date-picker {
  display: grid;

  .from,
  .until {
    display: block;
    margin-bottom: 0.5em;
  }

  .fetch-data {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

// Custom chart modal
.custom-chart-modal {
  .custom-chart {
    grid-gap: 1em;
  }

  .modal-content .custom-chart {
    display: grid;
    grid-template-columns: auto;
  }
}

// Media queries
@media only screen and (min-width: 768px) {
  // General modal
  .modal-background {
    .modal {
      width: 600px;
    }

    .modal-title {
      display: inline-flex;
      align-items: center;

      p {
        opacity: 0.5;
        margin-left: 2em;
      }
    }
  }

  // Sensor select

  .sensor-select {
    grid-template-columns: auto auto auto;
  }

  // Custom chart modal
  .modal.custom-chart-modal {
    width: 600px;

    .modal-content .custom-chart {
      grid-template-columns: auto auto;

      .sensor-select {
        grid-template-columns: auto;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  // Custom chart modal
  .modal.custom-chart-modal {
    width: 750px;
  }
}
