$secondaryBackground: #f0f2eb;

.header {
  background-color: $secondaryBackground;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .logo {
    width: 500px;
    margin: 0 1em 0.5em 0;
  }

  .station-name,
  p {
    display: inline-block;
  }

  .station-name {
    margin: 0 2em 0 1em;
  }

  p {
    align-self: flex-end;
  }

  .buttons {
    display: inline-flex;
    margin-right: 1em;

    > * {
      margin-right: 1.5em;
    }
  }

  .btn-custom-chart {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    position: relative;

    .btn-custom-chart {
      display: block;
    }
  }
}
