.title-buttons {
  > * {
    display: inline-block;
  }
}

.title {
  margin-right: 2em;
}

.buttons {
  display: inline-block;

  > * {
    margin-right: 0.5em;
  }
}

.sensor-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  column-gap: 5em;
  row-gap: 2em;
}
