.dashboard {
  padding: 0 1em;
}

.title-buttons {
  > * {
    display: inline-block;
  }
}

.title {
  margin-right: 2em;
}

.sensor-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  column-gap: 5em;
  row-gap: 2em;
}
