.sensor-measurements {
  position: relative;

  .title {
    margin-bottom: 1.5em;
  }

  .button.small {
    position: absolute;
    top: 4em;
    right: 0;
  }

  .sensor-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5em;
    column-gap: 2.5em;
    justify-content: start;
  }
}
