.sensor-measurements {
  position: relative;

  .button {
    position: absolute;
    top: 4em;
    right: 0;
  }

  .sensor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 700px);
    align-items: center;
    justify-content: start;
    column-gap: 2em;
    row-gap: 1em;
  }
}
