$primaryText: #3b4541;
$strokeColor: #e3e4e1;

.App {
  padding: 0;
}

/* Font styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button {
  font-weight: 400;
  color: $primaryText;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 15pt;
}

h5 {
  font-size: 14pt;
}

h6 {
  font-size: 12pt;
}

p,
text,
label {
  font-size: 14px;
}

text.small,
p.small,
label.small {
  font-size: 12px;
}

text.tiny,
p.tiny,
label.tiny {
  font-size: 11px;
}

.button {
  font-size: 14px;
  font-weight: 400;
}

.button.small {
  font-size: 12px;
}

// Date and time inputs

/* A few custom styles for date inputs */
input[type="date"],
input[type="time"],
input[type="text"] {
  border-radius: 8px;
  font-size: 10px;
  appearance: none;
  -webkit-appearance: none;
  color: $primaryText;
  font-size: 12px;
  border: 1px solid $strokeColor;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
  margin-right: 1em;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  color: $primaryText;
}

input[type="date"],
input[type="time"],
focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
