.custom-chart .chart {
  padding: 2em 3em;
}

.color-legends {
  .legend {
    display: inline-block;
    margin-right: 1em;

    > * {
      display: inline-block;
      margin: 0;
    }

    svg {
      margin-right: 0.25em;
    }
  }
}
